/result*

*.o
vgcore.*
/warteraum/all
/warteraum/warteraum
/warteraum/test/test_queue

# redo-sh
/warteraum/.redo
# redo-c
/warteraum/.dep.*
/warteraum/.depend.*
/warteraum/.target.*

web/queue.db
__pycache__/
*.pyc
*.pyo
*.pyd
