/result*

*.o
vgcore.*
/warteraum/all
/warteraum/warteraum
/warteraum/hashtoken
/warteraum/test/test_queue

# redo-sh
.redo
# redo-c
.dep.*
.depend.*
.target.*

web/queue.db
__pycache__/
*.pyc
*.pyo
*.pyd
