<!doctype html>
<html lang="de">
  <head>
    <title>OpenLab Flipdots</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.6-dist/css/bootstrap.min.css"/>
  </head>
  <body>
    {% include 'topbar.html' %}
    <div class="container">
      <div class="jumbotron">
        <h1>Das hat geklappt!</h1>
        <p>
        {% if queuelength == 0 %}
          Dein Text wird gleich angezeigt!
        {% elif queuelength == 1 %}
          Nur ein Text wird vor deinem Text angezeigt!
        {% else %}
          Noch {{ queuelength }} Texte kommen vor deinem Text.
        {% endif %} 
        </p>
        <p><a href="/" class="btn btn-default">Zurück zur Startseite</a></p>
      </div>
    </div>
  </body>
</html>
