<!doctype html>
<html lang="de">
  <head>
    <title>Fehler</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="/static/bootstrap-3.3.6-dist/css/bootstrap.min.css"/>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>Das hat nicht geklappt!</h1>

        <p class="text-danger">{{ error }}</p>

        <p><a href="/" class="btn btn-default">Zurück zur Startseite</a></p>
      </div>
    </div>
  </body>
</html>
