body {
  font-family: sans-serif;
  color: #333333; /* openlab text gray */
  margin: 0;
}

header, main, footer {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
}

@media screen and (max-width: 800px) {
  header {
    justify-content: center;
  }
}

header {
  padding: 5px 0;
  border-bottom: 5px solid #e1e1e1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: left;
}

header > * {
  margin-right: 10px;
}

header > .fixed-height {
  height: 2.5em;
}

header img {
  max-height: 100%;
}

header > .heading {
  min-height: 2.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 1.5em;
  margin: 0;
}

a:visited, a:link {
  color: #006845; /* openlab logo green */
}

h3:target {
  /* highlight a FAQ heading when selected via a link */
  text-decoration: underline;
}

.table-container {
  max-width: 100%;
  overflow: auto;
  min-height: 40vh;
}

#view-queue table {
  width:100%;
  border-spacing: 0;
}

#view-queue thead {
  background-color: #e1e1e1;
}

#view-queue thead td {
  border-bottom: 1px solid #333333;
}

#view-queue td {
  margin: 0;
  padding: 10px;
}

#view-queue td:nth-last-child(1) {
  text-align: right;
}

.input-button {
  display: flex;
}

.input-button input[type="text"] {
  flex: 1;
}

#controls {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  border-top: 1px solid #333333;
}

#controls > div {
  margin: 5px;
}
